@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Cleveland Codes Contact Info</h3>

<address>
    Tri-C's Address
</address>

<!--Placeholder text and links will be updated-->
<address>
    <strong>Program Coordinator</strong>   <a href="mailto:Support@example.com">Seth</a><br />
    <strong>Program Director</strong> <a href="mailto:Marketing@example.com">Mark</a><br />
    <strong>Website</strong> <a href="mailto:Marketing@example.com"></a>Link to Tri-C Cleveland Codes Page<br />
</address>