@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="homePicture" src="https://openclipart.org/download/243461/Chromatic-Triangular-Ruby-Pregnant-Woman.svg" alt="Chromatic Triangular Styled Image of Pregnant Woman">
    <h1 class="neonatal-Central">NEO+Natal.</h1>
    <p class="lead">Cleveland Codes Capstone Project: NEO+Natal Community Health App</p>
        <!--Placeholder text will be changed -->
    <p class="about">About Neo+Natal.</p>
    <p class="aboutParagraph">
        NEO­+Natal is a new approach to combating high infant mortality in low resource Cleveland communities. A research team developed a unique risk profile for mothers based on publicly available demographic and geographic data correlated against clinical and medical research. From that data, the team developed a short questionnaire that could be used by community health workers to assess a mother's risk factors for having an infant fail to thrive past the first year of life.</p>
        <br />
    <p class="aboutParagraph2">The goal of the NEO+Natal Project is to curb infant mortality by using a new statistical tool, the @Html.ActionLink("Survey", "Create", "Surveys"), to focus resources and interventions on the mothers with the highest risk factors.</p>
    <h6>Source: <a href="https://drive.google.com/a/brandnewship.com/folderview?id=0B61GbZ4O6ZNrSEtsQUVTLTJHUWM&usp=sharing#">Cleveland Codes Capstone Google Docs</a></h6>
    <p class="project">Project Teams.</p>
    <p class="projectParagraph">Each team from the <a href="http://www.tri-c.edu/corporatecollege/professional-development/information-technology-training/cleveland-codes.html">Cleveland Codes Software Developer Academy at Tri-C</a> crafted a Neo+Natal tablet application that focused on a specific Cleveland neighborhood where infant mortality is high. The neighborhoods include:</p>
    <ul class="neighborhoods">
        <li>Buckeye</li>
        <li>@Html.ActionLink("Central", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>Clark-Fulton</li>
        <li>Fairfax</li>
    </ul>
    <h6>For more information about Cleveland's neighborhoods: <a href="http://cua6.urban.csuohio.edu/nodis/gis_CCNMaps_2013.html">Cleveland City Neighborhood & Ward Maps</a></h6>
    <br/>
    <br />
    <h6>For more information about the original Neo+natal project presented at the 2015 Cleveland Medical Hackathon please visit:</h6>
    <a href="http://clevelandmedicalhackathon.com/2015/09/second-place-winner-neonatal/">http://clevelandmedicalhackathon.com/2015/09/second-place-winner-neonatal/ </a>

</div>


<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>